<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Journey</h2>
                    <h3 class="section-subheading text-muted">Everyone has their story, this is mine.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/GA_logo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019

                                    </h4>
                                    <h4 class="subheading">General Assembly</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">10 week immersive User Experience Design course. This included 5 projects, during a 9-5 work day 5 days a week.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/AG_logo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017</h4>
                                    <h4 class="subheading">AlphaGraphics</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This is where I got the bulk of my design experience specifically in print. I worked a lot in cross-functional teams, discovered my own design process and honed my abilities in design thinking to solve business and client communication problems. Discovering, understanding, and defining the actual problem is a big aspect in any UX position.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/DDM_logo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">Deseret Digital Media</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As an intern at Deseret Digital Media I learned what a creative and deadline drivien atmosphere felt like. I was specifically part of Story Lab where we tested new ways to tell stories. I worked on video, flat or vector design for infographics, and social media posts.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.url }}/img/about/Cocoa_logo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">Cocoa Branding</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This was an internship at a branding studio in Guadalajara Mexico. What an adventure! I Loved learning from an international team, eating Mexican street food, and practicing my Spanish. I continued to develop my love for typography at Cocoa Branding.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image"> 
                                <h4> Here's
                                <br> my
                                <br> Resume
                                </h4>
                                    
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>